html {
	box-sizing: border-box;
  font-family: $font__main;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
  font-family: inherit;
}

blockquote, q {
padding: 30px 30px 30px 90px;
margin: 0;

  &::before {
    content: "â€";
    display: block;
    width: 90px;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 72px;
    line-height: 72px;
    font-weight: 700;
    color: rgb(170, 170, 170);
    text-align: center;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 27px;
    left: 0px;
  }
  p {
    margin: 0;
    font-style: italic;
    font-weight: 300;
  }
}
cite {
  font-style: italic;
  font-weight: 600;
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 0;
}

ul {
	list-style: disc;
  list-style-position: outside;
  ul {
    list-style: circle;
    list-style-position: inherit;
    ul {
      list-style: square;
      list-style-position: inherit;
      ul {
        list-style: initial;
        list-style-position: inherit;
      }
    }
  }
}

ol {
	list-style: upper-roman;
  list-style-position: outside;
  ol {
    list-style: decimal;
    list-style-position: inherit;
    ol {
      list-style: lower-alpha;
      list-style-position: inherit;
      ol {
        list-style: lower-roman;
        list-style-position: inherit;
      }
    }
  }
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}
