/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  font-family: $font__heading;
  width: 100vw;
  text-align: center;
  line-height: 70px;
  height: 70px;
  margin-bottom: 10px;
  display: inline-block;

  ul {
    font-family: inherit;
    text-decoration: none;
    list-style: none;
    line-height: inherit;
    height: inherit;
    display: inline-block;
    margin-left: 0;
    padding-left: 0;

    li {
      font-family: inherit;
      display: inline-block;
      padding: 0 50px;
      width: 200px;
      line-height: inherit;
      height: inherit;
      background-size: 200px;
      background-repeat: no-repeat;

      a {
        font-family: inherit;
        text-decoration: none;
        color: inherit;
        font-size: 20pt;
        width: 200px;
      }

      &.nav-homepage {
        &:hover {
          background-image: url( 'img/menu/startseiteHover.svg' );
        }

        @media screen and (max-width: 498px) {
          display: none;
        }
      }

      &.nav-kjg {
        &:hover {
          background-image: url( 'img/menu/dieKJGHover.svg' );
        }

        @media screen and (max-width: 1230px) {
          display: none;
        }
      }

      &.nav-gruppen {
        &:hover {
          background-image: url( 'img/menu/gruppenHover.svg' );
        }
      }

      &.nav-aktionen {
        &:hover {
          background-image: url( 'img/menu/aktionenHover.svg' );
        }

        @media screen and (max-width: 1230px) {
          display: none;
        }
      }

      &.nav-fotos {
        &:hover {
          background-image: url( 'img/menu/fotosHover.svg' );
        }
      }

      &.nav-zeltlager {
        &:hover {
          background-image: url( 'img/menu/zeltlagerHover.svg' );
        }
      }

      &.nav-kontakt {
        &:hover {
          background-image: url( 'img/menu/kontaktHover.svg' );
        }

        display: none;

        @media screen and (max-width: 840px) {
          display: none;
        }
      }
    }
  }
}
/* Small menu. */
@media screen and (max-width: 1435px) {
  .main-navigation {
    line-height: 62px;
    height: 62px;

    ul {

      li {
        padding: 0 40px;
        width: 180px;
        background-size: 180px;

        a {
          font-size: 18pt;
          width: 180px;
        }
      }
    }
  }
}
@media screen and (max-width: 1295px) {
  .main-navigation {
    line-height: 59px;
    height: 59px;

    ul {

      li {
        padding: 0 35px;
        width: 170px;
        background-size: 170px;

        a {
          font-size: 17pt;
          width: 170px;
        }
      }
    }
  }
}
@media screen and (max-width: 905px) {
  .main-navigation {
    line-height: 56px;
    height: 56px;

    ul {

      li {
        padding: 0 30px;
        width: 160px;
        background-size: 160px;

        a {
          font-size: 16pt;
          width: 160px;
        }
      }
    }
  }
}
@media screen and (max-width: 745px) {
  .main-navigation {
    line-height: 40px;
    height: 40px;

    ul {

      li {
        padding: 0 15px;
        width: 120px;
        background-size: 120px;

        a {
          font-size: 14pt;
          width: 120px;
        }
      }
    }
  }
}
