/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  font-family: 'Indie Flower', sans-serif;
  width: 100vw;
  text-align: center;
  line-height: 70px;
  height: 70px;
  margin-bottom: 10px;

  ul {
    font-family: inherit;
    text-decoration: none;
    list-style: none;
    line-height: 70px;
    height: 70px;

    li {
      font-family: inherit;
      display: inline-block;
      padding: 0 50px;
      width: 200px;
      line-height: 70px;
      height: 70px;
      background-size: 200px;
      background-repeat: no-repeat;

      a {
        font-family: inherit;
        text-decoration: none;
        color: inherit;
        font-size: 20pt;
        width: 200px;
      }

      &.nav-homepage {
        &:hover {
          background-image: url( 'img/menu/startseiteHover.svg' );
        }
      }

      &.nav-kjg {
        &:hover {
          background-image: url( 'img/menu/dieKJGHover.svg' );
        }
      }

      &.nav-gruppen {
        &:hover {
          background-image: url( 'img/menu/gruppenHover.svg' );
        }
      }

      &.nav-aktionen {
        &:hover {
          background-image: url( 'img/menu/aktionenHover.svg' );
        }
      }

      &.nav-fotos {
        &:hover {
          background-image: url( 'img/menu/fotosHover.svg' );
        }
      }

      &.nav-zeltlager {
        &:hover {
          background-image: url( 'img/menu/zeltlagerHover.svg' );
        }
      }

      &.nav-kontakt {
        &:hover {
          background-image: url( 'img/menu/kontaktHover.svg' );
        }
      }
    }
  }
}
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
