body {
  margin: 0; }

header {
  width: calc(100vw - 24px);
  height: auto;
  margin: 0;
  padding: 0; }
  header .header-img {
    width: 100vw;
    margin: 0; }

nav {
  width: 100vw;
  border-bottom: black 1px solid; }
  nav ul {
    list-style: none;
    text-align: center;
    font-family: 'Indie Flower', sans-serif;
    font-size: 20pt; }
    nav ul li {
      line-height: 65px;
      height: 65px;
      padding: 5px 20px;
      display: inline-block;
      overflow-x: hidden; }
      nav ul li a {
        width: 200px;
        height: 65px;
        display: block;
        text-decoration: none;
        color: black;
        background-repeat: no-repeat;
        background-size: 200px;
        cursor: pointer !important; }
        nav ul li a#startseite:hover {
          background-image: url("img/menu/startseiteHover.svg");
          background-size: contain;
          cursor: pointer !important; }
        nav ul li a#diekjg:hover {
          background-image: url("img/menu/dieKJGHover.svg");
          background-size: contain;
          cursor: pointer !important; }
        nav ul li a#gruppen:hover {
          background-image: url("img/menu/gruppenHover.svg");
          background-size: contain;
          cursor: pointer !important; }
        nav ul li a#aktionen:hover {
          background-image: url("img/menu/aktionenHover.svg");
          background-size: contain;
          cursor: pointer !important; }
        nav ul li a#fotos:hover {
          background-image: url("img/menu/fotosHover.svg");
          background-size: contain;
          cursor: pointer !important; }
        nav ul li a#zeltlager:hover {
          background-image: url("img/menu/zeltlagerHover.svg");
          background-size: contain;
          cursor: pointer !important; }
        nav ul li a#kontakt:hover {
          background-image: url("img/menu/kontaktHover.svg");
          background-size: contain;
          cursor: pointer !important; }
        nav ul li a span {
          display: none; }

main {
  width: calc(100vw - 24px);
  padding: 10px; }
  main .primary {
    width: calc(44vw - 24px);
    margin-left: 15vw;
    padding: 10px;
    display: inline-block; }
    main .primary .post {
      overflow: hidden;
      margin-bottom: 5vh;
      padding-bottom: 2vh;
      border-bottom: #66D998 2px solid; }
      main .primary .post .date {
        text-align: center;
        font-family: 'Raleway', serif;
        font-size: small; }
      main .primary .post .title {
        text-align: center;
        font-family: 'Indie Flower', sans-serif;
        margin-top: 0; }
        main .primary .post .title h2 {
          margin-top: 0;
          font-size: 30pt;
          border-bottom: #DD5371 2px solid; }
      main .primary .post img {
        width: calc(44vw - 24px);
        height: auto;
        margin-bottom: 20px; }
      main .primary .post .content {
        font-family: 'Raleway', sans-serif; }
      main .primary .post .signature {
        font-family: 'Indie Flower', sans-serif; }
        main .primary .post .signature h6 {
          font-size: 20pt;
          margin: 0; }
  main .secondary {
    width: calc(39vw - 24px);
    margin: 0;
    padding: 10px;
    display: inline-block;
    float: right;
    text-align: center; }
    main .secondary .widget {
      font-family: 'Raleway', sans-serif;
      width: 20vw;
      margin: 0 auto; }
      main .secondary .widget .title {
        font-family: 'Indie Flower', sans-serif;
        font-weight: bold;
        font-size: 20pt;
        border-bottom: #9E5DDD 2px solid;
        margin-bottom: 20px; }
      main .secondary .widget .content {
        font-family: 'Raleway', sans-serif; }
