body {
  margin: 0;
}
header {
  width: calc(100vw - 24px);
  height: auto;
  margin: 0;
  padding: 0;

  .header-img {
    width: 100vw;
    margin: 0;
  }
}
nav {
  width: 100vw;

  ul {
    list-style: none;
    text-align: center;

    li {
      line-height: 50px;
      height: 50px;
      padding: 5px 20px;
      display: inline-block;
      overflow-x: hidden;

      a {
        width: 200px;
        height: 50px;
        display: block;
        background-repeat: no-repeat;
        background-size: 200px;
        cursor: pointer !important;

        &#startseite {
          background-image: url('img/menu/startseite.svg');
          background-size: contain;
          cursor: pointer !important;
          &:hover {
            background-image: url('img/menu/startseiteHover.svg');
            background-size: contain;
            cursor: pointer !important;
          }
        }

        &#diekjg {
          background-image: url('img/menu/dieKJG.svg');
          background-size: contain;
          cursor: pointer !important;
          &:hover {
            background-image: url('img/menu/dieKJGHover.svg');
            background-size: contain;
            cursor: pointer !important;
          }
        }

        &#gruppen {
          background-image: url('img/menu/gruppen.svg');
          background-size: contain;
          cursor: pointer !important;
          &:hover {
            background-image: url('img/menu/gruppenHover.svg');
            background-size: contain;
            cursor: pointer !important;
          }
        }

        &#aktionen {
          background-image: url('img/menu/aktionen.svg');
          background-size: contain;
          cursor: pointer !important;
          &:hover {
            background-image: url('img/menu/aktionenHover.svg');
            background-size: contain;
            cursor: pointer !important;
          }
        }

        &#fotos {
          background-image: url('img/menu/fotos.svg');
          background-size: contain;
          cursor: pointer !important;
          &:hover {
            background-image: url('img/menu/fotosHover.svg');
            background-size: contain;
            cursor: pointer !important;
          }
        }

        &#zeltlager {
          background-image: url('img/menu/zeltlager.svg');
          background-size: contain;
          cursor: pointer !important;
          &:hover {
            background-image: url('img/menu/zeltlagerHover.svg');
            background-size: contain;
            cursor: pointer !important;
          }
        }

        &#kontakt {
          background-image: url('img/menu/kontakt.svg');
          background-size: contain;
          cursor: pointer !important;
          &:hover {
            background-image: url('img/menu/kontaktHover.svg');
            background-size: contain;
            cursor: pointer !important;
          }
        }
        span {
          display: none;
        }

      }
    }
  }
}
main {
  border: black 2px solid;
  margin: 0;
  padding: 10px;

  .content {
    width: calc(69vw - 24px);
    border: black 2px solid;
    margin: 0;
    padding: 10px;
    display: inline-block;

    .post {
      background-color: red;
    }
  }
  .sidebar {
    width: calc(29vw - 24px);
    border: black 2px solid;
    margin: 0;
    padding: 10px;
    display: inline-block;
  }
}
