body {
  margin: 0; }

header {
  width: calc(100vw - 24px);
  height: auto;
  margin: 0;
  padding: 0; }
  header .header-img {
    width: 100vw;
    margin: 0; }

nav {
  width: 100vw; }
  nav ul {
    list-style: none;
    text-align: center;
    font-family: 'Indie Flower', sans-serif;
    font-size: 20pt; }
    nav ul li {
      line-height: 65px;
      height: 65px;
      padding: 5px 20px;
      display: inline-block;
      overflow-x: hidden; }
      nav ul li a {
        width: 200px;
        height: 65px;
        display: block;
        text-decoration: none;
        color: black;
        background-repeat: no-repeat;
        background-size: 200px;
        cursor: pointer !important; }
        nav ul li a#startseite:hover {
          background-image: url("img/menu/startseiteHover.svg");
          background-size: contain;
          cursor: pointer !important; }
        nav ul li a#diekjg:hover {
          background-image: url("img/menu/dieKJGHover.svg");
          background-size: contain;
          cursor: pointer !important; }
        nav ul li a#gruppen:hover {
          background-image: url("img/menu/gruppenHover.svg");
          background-size: contain;
          cursor: pointer !important; }
        nav ul li a#aktionen:hover {
          background-image: url("img/menu/aktionenHover.svg");
          background-size: contain;
          cursor: pointer !important; }
        nav ul li a#fotos:hover {
          background-image: url("img/menu/fotosHover.svg");
          background-size: contain;
          cursor: pointer !important; }
        nav ul li a#zeltlager:hover {
          background-image: url("img/menu/zeltlagerHover.svg");
          background-size: contain;
          cursor: pointer !important; }
        nav ul li a#kontakt:hover {
          background-image: url("img/menu/kontaktHover.svg");
          background-size: contain;
          cursor: pointer !important; }
        nav ul li a span {
          display: none; }

main {
  border: black 2px solid;
  margin: 0;
  padding: 10px; }
  main .content {
    width: calc(69vw - 24px);
    border: black 2px solid;
    margin: 0;
    padding: 10px;
    display: inline-block; }
    main .content .post {
      background-color: red; }
  main .sidebar {
    width: calc(29vw - 24px);
    border: black 2px solid;
    margin: 0;
    padding: 10px;
    display: inline-block; }
